/* Font-face rules */
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

/* Main CSS Section */
:root {
  --grayColor: #fcfcfc;
  --brownColor: #966529;
  --greenColor: ##22c55e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Montserrat, "Segoe UI", sans-serif;
  line-height: 1.5;
}

header {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  color: var(--brownColor);
  padding: 16px 8px;
}

main {
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  /* justify-content: space-between; */
}

aside {
  max-width: 720px;
}

footer {
  background-color: var(--brownColor);
  color: white;
}

footer > .copyright {
  padding: 16px 8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="number"] {
  border: 2px solid #96652980;
  border-radius: 8px;
  padding: 0.8rem;
  box-sizing: border-box;
  margin-bottom: 6px;
  font-size: 1.25rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline-style: solid;
  outline-color: var(--brownColor);
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-4 {
  flex-grow: 4;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  border: inherit;
  cursor: pointer;
}

.btn--block {
  width: 100%;
}

.btn--primary {
  color: #fff;
  background-color: #966529d0;
}

.btn--primary:hover {
  background-color: var(--brownColor);
  transition: ease-in 0.2s;
}

.text-center {
  text-align: center;
}

.card {
  padding: 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.form-book {
  max-width: 360px;
  background-color: var(--grayColor);
  padding: 16px 24px;
  border: 1px solid var(--brownColor);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__title {
  margin-bottom: 1.5rem;
  color: var(--brownColor);
}

.form__group,
.form__check {
  margin-bottom: 0.5rem;
}

.form__group > label,
.form__check > label {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.form__group > label {
  display: block;
}

.form__group > .form__input {
  width: 100%;
}

.section__search {
  display: flex;
  border: 1px solid var(--brownColor);
  border-radius: 6px;
  padding: 0 4px;
  margin: 0 8px;
  align-items: center;
  max-width: 100%;
}

.search-icon {
  color: var(--brownColor);
  margin: 8px;
}

.section__search > .form-search,
.section__search > .form-search > #search {
  width: 100%;
}

.section__search > .form-search > #search {
  font-size: 1rem;
  padding: 8px 0;
  outline: none;
  border: none;
}

.section__bookshelf {
  display: flex;
  margin-top: 24px;
}

.bookshelf__title {
  color: var(--brownColor);
}

.bookshelf__unread,
.bookshelf__read {
  width: 50%;
  padding: 16px 0;
}

.list__item {
  padding: 8px;
  margin: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #966529d0;
  justify-content: space-between;
  overflow: hidden;
}

.list__item > .inner {
  overflow: hidden;
  flex-basis: 200px;
}

.list__item > .inner > h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.list__item > .inner > p {
  font-size: 14px;
}

.section__actions {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}

.edit-button,
.check-button,
.undo-button,
.trash-button {
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  margin: 0 6px;
}

.edit-button {
  background: url("../img/edit.svg");
}

.check-button {
  background: url("../img/check-outline.svg");
}

.check-button:hover {
  background: url("../img/check-solid.svg");
  background-size: contain;
}

.trash-button {
  background: url("../img/trash-outline.svg");
}

.trash-button:hover {
  background: url("../img/trash-fill.svg");
  background-size: contain;
}

.undo-button {
  background: url("../img/undo-fill.svg");
}

.undo-button:hover {
  background: url("../img/undo-fill.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  /* border: 1px solid black; */
  margin-top: -20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.cancel-button,
.delete-button {
  margin-top: 16px;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cancel-button {
  background-color: #cccccc;
  color: black;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.cancel-button:hover {
  background-color: #acacac;
}

.delete-button:hover {
  background-color: #c52317;
}

@media only screen and (max-width: 800px) {
  .section__search {
    width: 360px;
  }
}
@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

  aside {
    flex-grow: 1 auto;
  }

  .section__search {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .section__bookshelf {
    flex-direction: column;
  }

  .bookshelf__unread,
  .bookshelf__read {
    margin: 0 auto;
    width: 360px;
  }
}
